/*Configurar Variáveis de Ambiente*/
:root {
    --cor_main: rgba(243, 243, 243, 0.527);
    --cor_rosinha: rgb(238,174,202);
    --cor_azul: rgba(148,187,233,1);
}

/*Importando familia de fontes*/
  @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100&display=swap');

/*Resetar o Contorno da página*/
* {
    outline: 0;
    text-rendering: optimizeLegibility;
    box-sizing: border-box;
    
}

/*Reset da Página*/
body {
    background: var(--cor_rosinha);
    background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1.3em;
    line-height: 1.2em;
}

main {
    background: var(--cor_main);
    width: 80%;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 30px;
}

header{
    background: var(--cor_main);
    display: flex;
    align-items: center;
}

header img {
    width: 20%;
}

header h1{
    width: 40%;
    text-align: center;
}

aside{
    width: 50%;
    margin: 0 auto;
}
/*Imagem da tabela ao lado do formulário*/
aside img{
    width: 60%;
}

/*Rodap[e*/
footer {
    background: var(--cor_main);
    text-align: center;
    height: 45px;
    bottom: 0;
    position: absolute;
    width: 100%;
    font-size: small;
}


.contato{
    width: 50%;
}

form label, form input{
    display: block;
    margin-bottom: 2%;
    margin-left: 10%;
    width: 50%;
}

form input{
    height: 2%;
    padding: 2%;
    font-size: larger;
}

form input:focus{
    outline: 2px solid rgba(148,187,233,1);
}

form button{
    height: 2%;
    font-size: large;
    margin-left: 10%;
    width: 19.52%;
    border: 0;
    border-radius: 5%;
}

