html{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.2rem;
}

header{
    background-color: darkgrey;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav > a{
    color: white;
    text-decoration: none;
    margin-right: 25px;
    margin-left: 10px;
}

nav > a:hover{
    font-size: 1.5em;
    color: darkcyan;
}

.logo{
    max-width: 10%;
}

footer{
    background-color: rgb(189, 188, 188);
    height: 50px;
    text-align: center;
}